@import url('https://fonts.googleapis.com/css2?family=Saira&family=Zen+Kaku+Gothic+New:wght@500&display=swap');
.board {
  height: 100%;
  width: 100%;
  background-color: rgb(183, 179, 179);
  color: white;
}

#logo {
  display: flex;
  height: 40px;
  width: 100px;
  margin: 10px;
}
#game-title {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  color: rgb(88, 84, 84);
  font-size: 40px;
  margin: 0;
  padding: 1vh 0 0 3vh;
  font-family: 'Saira', sans-serif;
}

#score {
  font-size: 15px;
  padding: 0 0 0 3vh;
  margin: 0;
}
